<!-- Modal Ver Detalles Ubicación -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-eye"></i> Detalles de la Ubicación
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">ID:</dt>
                    <dd class="col-sm-8" id="viewId"></dd>
                    
                    <dt class="col-sm-4">Nombre:</dt>
                    <dd class="col-sm-8" id="viewNombre"></dd>
                    
                    <dt class="col-sm-4">Descripción:</dt>
                    <dd class="col-sm-8" id="viewDescripcion"></dd>
                    
                    <dt class="col-sm-4">Estado:</dt>
                    <dd class="col-sm-8" id="viewEstado"></dd>
                    
                    <dt class="col-sm-4">Creado Por:</dt>
                    <dd class="col-sm-8" id="viewCreadoPor"></dd>
                    
                    <dt class="col-sm-4">Fecha:</dt>
                    <dd class="col-sm-8" id="viewFecha"></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>